{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center">{{ search | title }}</h2>

    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="http://cdn.akc.org/content/hero/puppy-boundaries_header.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price TEST PRICE</a>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="http://cdn.akc.org/content/hero/puppy-boundaries_header.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price TEST PRICE</a>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="http://cdn.akc.org/content/hero/puppy-boundaries_header.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price TEST PRICE</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


